#cloud-config
autoinstall:
  version: 1
  update: yes
  keyboard: {layout: us, toggle: null, variant: ''}
  locale: en_US.UTF-8
  network:
    version: 2
    ethernets:
      eno1:
        dhcp4: true
        dhcp6: true
    wifis:
      your_wifi_adapter_name:
        optional: true
        access-points:
          "WIFI SSID":
             password: "WIFI PASSWORD"
        dhcp4: true 
  storage:
    layout:
        name: direct
        match:
          ssd: yes # or no
          size: smallest #or largest
  identity:
    hostname: someHost
    password: #generate with mkpasswd --method=SHA-512 --rounds=4096 somepassword
    username: someUser
  ssh:
    allow-pw: true
    install-server: true
    authorized-keys: [ '<your ssh public key>' ]
  packages: 
    - software-properties-common
    - ca-certificates
    - curl
    - wget
    - git
  snaps:
    - name: go
      classic: true
  late-commands:
    - export GRUB_CMDLINE_LINUX_DEFAULT="GRUB_CMDLINE_LINUX_DEFAULT=\"preempt=voluntary iommu=pt amd_iommu=on intel_iommu=on\""
    - sed -ie 's/GRUB_CMDLINE_LINUX_DEFAULT=\"\"/$GRUB_CMDLINE_LINUX_DEFAULT/' /target/etc/default/grub
    - sed -ie 's/GRUB_DEFAULT=0/GRUB_DEFAULT=saved/' /target/etc/default/grub
    - sed -ie 's/FONTSIZE=\"8x16\"/FONTSIZE=\"16x32\"/' /target/etc/default/console-setup
    - sed -ie 's/GRUB_TIMEOUT=.*/GRUB_TIMEOUT=30/' /target/etc/default/grub
    - curtin in-target --target=/target -- grub-reboot 1
    - curtin in-target --target=/target -- update-grub
  user-data: # Cloud-init starts here after reboot
    disable_root: false
    users:
      - name: max
        gecos: Max R.
        groups: users, admin, docker, sudo
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
        lock_passwd: false
        passwd: #generate with mkpasswd --method=SHA-512 --rounds=4096 somepassword
        ssh_import_id:
          - gh:<your github username>
    apt:
      primary:
        - arches: [default]
          uri: http://us.archive.ubuntu.com/ubuntu/
      sources:
        kubectl.list:
          source: deb [arch=amd64] https://apt.kubernetes.io/ kubernetes-xenial main
          keyid: 59FE0256827269DC81578F928B57C5C2836F4BEB
        helm.list:
          source: deb https://baltocdn.com/helm/stable/debian/ all main
          keyid: 81BF832E2F19CD2AA0471959294AC4827C1A168A
    package_update: true
    package_upgrade: true
    packages:
      - kubectl
      - helm
      - htop
      - docker.io
      - build-essential 
      - procps 
      - file
    runcmd:
      - update-initramfs -k all -u
      - reboot now